<!DOCTYPE html>
<html>
<head>
	<title> Fashion Pot Pie Blog</title>
</head>
<body>
<button type="button"> 
<%=link_to('Sign In Here!', users_sign_in_path) %>
</button>
<button type="button">
<%=link_to('Register Here!', new_user_path) %></button>

</body>
</html>

